---
import { Table as OuterbaseTable } from '../components/table'

// local, fallback data
import spaceballs from '../lib/sample-data.json'

// api, real data
let data = {rows: spaceballs.map((d) => ({...d, traits: JSON.stringify(d.traits)}))}
import dbRowsForSource from '../lib/rows-for-source-id';
try {
    // attempt to use the Movies DB
    const movieData = await dbRowsForSource('placeholder', import.meta.env.PUBLIC_AUTH_TOKEN)
    data =  { rows: movieData.items }
} catch (err) {
    console.error(err)
}
---
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <style>
            :root {
                /* consider this as a placeholder for a theme */
                /* --primary-color: white; */
                /* --secondary-color: gray; */
            }

        </style>
        <script>
            /* themes may also be set dynamically/programatically */
            // document.documentElement.style.setProperty("--success-color", "lime");
            
            addEventListener('cell-updated', console.info)
            addEventListener('row-selected', console.info)
            addEventListener('row-added', console.info)
            addEventListener('row-updated', console.info)
            addEventListener('row-removed', console.info)
            addEventListener('column-added', console.info)
            addEventListener('column-updated', console.info)
            addEventListener('column-removed', console.info)
        </script>
    </head>

    <body class="vh-full bg-theme-page dark:bg-theme-page-dark text-theme-text dark:text-theme-text-dark">
        <main class="m-12 pb-24">
            <h1 class="font-bold text-xl">Static</h1>
            <!-- @ts-ignore Astro doesn't seem to understand what `data` is.. -->
            <OuterbaseTable client:only="lit" data={data} auth-token={import.meta.env.PUBLIC_AUTH_TOKEN} selectable-rows></OuterbaseTable>
            
            <h1 class="font-bold text-xl mt-8">SSR w/ Hydration</h1>
            <!-- @ts-ignore Astro doesn't seem to understand what `data` is.. -->
            <OuterbaseTable client:load data={data} auth-token={import.meta.env.PUBLIC_AUTH_TOKEN} selectable-rows></OuterbaseTable>
            
            <h1 class="font-bold text-xl mt-8">SSR w/o Hydration</h1>
            <!-- @ts-ignore Astro doesn't seem to understand what `data` is.. -->
            <OuterbaseTable data={data} auth-token={import.meta.env.PUBLIC_AUTH_TOKEN} selectable-rows></OuterbaseTable>
        </main>
    </body>
</html>
