---
import { Table as OuterbaseTable } from '../components/outerbase-table'

// local, faux data
import spaceballs from '../lib/sample-data.json'
const data = {items: spaceballs}

// api, real data
// import dbRowsForSource from '../lib/rows-for-source-id';
// const data = await dbRowsForSource('placeholder', import.meta.env.PUBLIC_AUTH_TOKEN)
// console.log('data',data)
---
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <style>
            :root {
                /* consider this as a placeholder for a theme */
                /* --primary-color: white; */
                /* --secondary-color: gray; */
            }

        </style>
        <script>
            /* themes may also be set dynamically/programatically */
            // document.documentElement.style.setProperty("--success-color", "lime");
        </script>
    </head>

    <body class="h-full">
        <main class="h-full">
            <div class="m-12">
                <!-- <OuterbaseTable client:only="lit" db-query={JSON.stringify(data)} auth-token={import.meta.env.PUBLIC_AUTH_TOKEN}></OuterbaseTable> -->
                <OuterbaseTable client:load db-query={JSON.stringify(data)} auth-token={import.meta.env.PUBLIC_AUTH_TOKEN}></OuterbaseTable>
            </div>
        </main>
    </body>
</html>
